.row
  .span7
    happy-Sad(developers="developers")
  .span5
    ul.controls
      li: button(ng-click="hire(1)").btn.btn-success Hire 1
      li: button(ng-click="hire(10)").btn.btn-success Hire 10
      li: button(ng-click="fire(1)").btn.btn-danger Fire 1
      li: button(ng-click="fire(10)").btn.btn-danger Fire 10
      li: button(ng-click="freeFood()").btn.btn-success Give free food
      li: button(ng-click="integration()").btn.btn-success Field trip
      li: button(ng-click="beer()").btn.btn-success Take team for a beer
      li: button(ng-click="energydrink()").btn.btn-success Energy drink for everyone
      li: button(ng-click="overhours()").btn.btn-warning Unpaid Overtime
      li: button(ng-click="fearmanagement()").btn.btn-warning Fear Driven Management
      li: button(ng-click="workOnIE6()").btn.btn-danger Migrate to IE6
      li: button(ng-click="makeExample()").btn.btn-danger Make an Example of Someone
      li: button(ng-click="sort()").btn.btn-primary Sort
      li: button(ng-click="shake()").btn.btn-primary Shake


