
<div class="row">
  <div class="span7">
    <happy-Sad developers="developers"></happy-Sad>
  </div>
  <div class="span5">
    <ul class="controls">
      <li>
        <button ng-click="hire(1)" class="btn btn-success">Hire 1</button>
      </li>
      <li>
        <button ng-click="hire(10)" class="btn btn-success">Hire 10</button>
      </li>
      <li>
        <button ng-click="fire(1)" class="btn btn-danger">Fire 1</button>
      </li>
      <li>
        <button ng-click="fire(10)" class="btn btn-danger">Fire 10</button>
      </li>
      <li>
        <button ng-click="freeFood()" class="btn btn-success">Give free food</button>
      </li>
      <li>
        <button ng-click="integration()" class="btn btn-success">Field trip</button>
      </li>
      <li>
        <button ng-click="beer()" class="btn btn-success">Take team for a beer</button>
      </li>
      <li>
        <button ng-click="energydrink()" class="btn btn-success">Energy drink for everyone</button>
      </li>
      <li>
        <button ng-click="overhours()" class="btn btn-warning">Unpaid Overtime</button>
      </li>
      <li>
        <button ng-click="fearmanagement()" class="btn btn-warning">Fear Driven Management</button>
      </li>
      <li>
        <button ng-click="workOnIE6()" class="btn btn-danger">Migrate to IE6</button>
      </li>
      <li>
        <button ng-click="makeExample()" class="btn btn-danger">Make an Example of Someone</button>
      </li>
      <li>
        <button ng-click="sort()" class="btn btn-primary">Sort</button>
      </li>
      <li>
        <button ng-click="shake()" class="btn btn-primary">Shake</button>
      </li>
    </ul>
  </div>
</div>